footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.keyboard-column {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 214, 218);
  width: 53px;
  height: 75px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
}

#pic {
  width: 80px;
  font-size: 17px;
}

#pic img {
  width: 30px;
}
